<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.items.mapper.ProgrammerMapper">
  <resultMap id="base_programmer" type="Programmer">

    <id column="pid" property="pid" />
    <result column="pname" property="pname" />
    <result column="pimage" property="pimage" />
    <result column="adept" property="adept" />
    <result column="finish" property="finish" />
    <result column="moods" property="moods" />
    <result column="income" property="income" />
    <result column="grade" property="grade" />
    <result column="location" property="pLocation" />
    <result column="introduce" property="introduce" />
    <result column="cate_id" property="cateId" />
    <result column="menu3_id" property="menu3Id" />
    <result column="is_delete" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, pname, pimage, adept, finish, moods, income, grade, location, introduce, cate_id,
    menu3_id, is_delete
  </sql>
  <select id="findBypid"  resultMap="base_programmer">
    select 
    <include refid="Base_Column_List" />
    from programmer
    where pid = #{pid} and is_delete = 0
  </select>

</mapper>