<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.items.mapper.SubMenu3Mapper">
  <resultMap id="base_menu3" type="SubMenu3">
    <id property="menu3Id" column="menu3_id"/>
    <result property="menu3Name" column="menu3_name"/>
  </resultMap>
  <select id="findByproId" resultMap="base_menu3">
    select m.menu3_name
    from sub_menu3 m
    where m.menu3_id = (select menu3_id from project where proid = #{proId})
  </select>
    <select id="findBypid" resultMap="base_menu3">
        select m.menu3_name
    from sub_menu3 m
    where m.menu3_id = (select menu3_id from programmer where pid = #{pid})
    </select>
</mapper>